version: "3.2"

services:
  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: 'rabbit-mq-server'
    restart: always
    ports:
      - 5672:5672
      - 15672:15672

  postgresql:
    image: postgres:12.3-alpine
    container_name: 'postgres-server'
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: keycloak
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - 5432:5432

  keycloak:
    image: bitnami/keycloak:18.0.2
    container_name: 'keycloak-server'
    restart: always
    ports:
      - "9000:8080"
    environment:
      - KEYCLOAK_CREATE_ADMIN_USER=true
      - KEYCLOAK_ADMIN_USER=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - KEYCLOAK_MANAGEMENT_USER=admin=manager
      - KEYCLOAK_MANAGEMENT_PASSWORD=admin-manager
      - KEYCLOAK_ENABLE_STATISTICS=true
      - KEYCLOAK_DATABASE_HOST=postgresql
      - KEYCLOAK_DATABASE_PORT=5432
      - KEYCLOAK_DATABASE_NAME=keycloak
      - KEYCLOAK_DATABASE_USER=postgres
      - KEYCLOAK_DATABASE_PASSWORD=postgres
      - KEYCLOAK_DATABASE_SCHEMA=public
      # config keycloak token issuer
      # - KEYCLOAK_HOSTNAME=keycloak-server
      # - KEYCLOAK_HTTP_PORT=8080
    depends_on:
      - postgresql

  account-management:
    image: bookstore/account-management
    container_name: 'bookstore-account-management'
    restart: always
    environment:
      POSTGRES_HOST: postgresql
      KEYCLOAK_HOST: keycloak
      RABBIT_MQ_HOST: rabbitmq
      SPRING_PROFILES_ACTIVE: prd
      USER-MANAGEMENT-CLIENT-PASSWORD: KJrgEGVFiLG9pTyZYaYQKHFLdnrk3SAA
    ports:
      - 8081:8081
    depends_on:
      - postgresql  
      - keycloak
      - rabbitmq

  bookstore-catalog:
    image: bookstore/bookstore-catalog
    container_name: 'bookstore-catalog'
    restart: always
    environment:
      POSTGRES_HOST: postgresql
      KEYCLOAK_HOST: keycloak
      SPRING_PROFILES_ACTIVE: prd
      USER-MANAGEMENT-CLIENT-PASSWORD: KJrgEGVFiLG9pTyZYaYQKHFLdnrk3SAA
    ports:
      - 8083:8083
    depends_on:
      - postgresql  
      - keycloak

volumes:
  postgres:

