server:
  servlet:
    context-path: /account-management
  port: 8081

spring:
  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  datasource:
    url: jdbc:postgresql://localhost:5432/bookstore-account-management
    username: postgres
    password: postgres
    initialization-mode: always
    initialize: true
  rabbitmq:
    host: localhost
    password: guest
    username: guest
    port: 5672
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak-server/realms/bookstore-realm
          jwk-set-uri: http://localhost:9000/realms/bookstore-realm/protocol/openid-connect/certs

keycloak-server:
  host: http://localhost:9000
  user-management-client:
    password: ${USER-MANAGEMENT-CLIENT-PASSWORD}


queue-names:
  delete-user: q.delete-user


feign:
  client:
    config:
      default:
        loggerLevel: full

logging:
  level:
    org.springframework.security: DEBUG