server:
  servlet:
    context-path: /catalog
  port: 8083

spring:
  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  datasource:
    url: jdbc:postgresql://localhost:5432/bookstore-catalog
    username: postgres
    password: postgres
    initialization-mode: always
    initialize: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9000/realms/bookstore-realm
          jwk-set-uri: http://localhost:9000/realms/bookstore-realm/protocol/openid-connect/certs

feign:
  account-manager:
    address: http://localhost:8081/account-management
  client:
    config:
      default:
        loggerLevel: full

logging:
  level:
    org.springframework.security: DEBUG